=content_for :waterfall do
  .waterfall
    .waterfall-nav
      =render "layouts/nav"
      .single-event-details
        %h3 Attendees
        .single-event-title
          =@event.name
        .single-event-date
          =@event.date.strftime("%b %d, %Y")
      -if current_user.is_admin
        %button.button.radius.animate Animate!
    
    .waterfall-body
      .attendees
        .grid-sizer
        -@attendees.each do |attendee|
          %a{href: "https://twitter.com/intent/user?screen_name=#{attendee.twitter_handle}", class: "brick follow-attendee"} 
            .attendee
              .avatar
                =image_tag attendee.avatar
              .info
                .attendee-name= attendee.name
                .twitter-contact
                  .twitter-icon
                    %i.fa.fa-twitter-square
                  .twitter-handle
                    %strong= attendee.twitter_handle
                .bio
                  =attendee.bio
  
=content_for :javascript do
  #templates
    %script.check-ins{:type => "text/template"}
      %a{href: "https://twitter.com/intent/user?screen_name={{ twitter_handle }}", class: "brick follow-attendee"} 
        .attendee
          .avatar
            %img{src: "{{ avatar }}"}
          .info
            .attendee-name {{ name }}
            .twitter-contact
              .twitter-icon
                %i.fa.fa-twitter-square
              .twitter-handle
                %strong {{ twitter_handle }}
            .bio
              {{ bio }}

  -if current_user.is_admin
    :javascript
      $(".animate").on("click", init.waterfall);

  -if can_user_check_in
    =subscribe_to "/messages/#{@event.id}"

    :javascript
      init.pinpoint(#{@event.id}, #{current_user.id})



