%h1=@event.name
%h3
  =@event.date.strftime("%b %e, %Y")
%h5
  %span Lat: #{@event.longitude}
  %br
  %span Long: #{@event.latitude}
%span.check-in
%h4 List of Attendees
.attendees
  -@attendees.each do |attendee|
    .brick
      .row
        .columns.small-3
          =image_tag attendee.avatar
        .columns.small-9
          =attendee.name
          %br
          =attendee.twitter_handle
          %br
          =link_to "Follow", "https://twitter.com/intent/user?screen_name=#{attendee.twitter_handle}"

#templates
  %script.bricks{:type => "text/template"}
    .brick
      %img{:src => "{{ avatar }}"}
      %span {{ name }}
      %span {{ twitter_handle }}

-if can_user_check_in
  =content_for :javascript do
    :javascript
      init.geoLocation(#{@event.id}, #{current_user.id})